body {
    margin: 0;
    text-align: center;
    background: orange
}
 
.container {
    display: flex;
    justify-content: space-around;
    background: black;
    width: 750px;
    height: 450px;
    margin: 10px auto;
    border-radius: 80px;
    padding: 10px 10px;
}

.punkte {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background: rgba(39, 38, 38, 0.356);
    border-radius: 20px;
    color: red;
    text-shadow: 1px 1px blue;
    font-size: 90px;
    width: 120px;
    margin: 30px 30px 30px 50px;
    padding: 15px 0 0 0;
    align-items: center;
}

.hälfte h3 {
    color: orange;
    text-shadow: 1px 1px 1px blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 15px;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 15px;
    background: none;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
}



